**
!package.json
!package-lock.json
!tsconfig.base.json
!LICENSE
!apps/
!apps/server/
!apps/server/package.json
!apps/server/tsconfig.json
!apps/server/src/
!apps/server/src/**
!apps/executor/
!apps/executor/package.json
!apps/web/
!apps/web/package.json
!apps/web/tsconfig.json
!apps/web/vite.config.ts
!apps/web/index.html
!apps/web/src/
!apps/web/src/**
!packages/
!packages/shared/
!packages/shared/package.json
!packages/shared/src/
!packages/shared/src/**
!docs/
!docs/THIRD_PARTY_NOTICES.md
!scripts/
!scripts/third-party-licenses.mjs
**/.env
**/.env.*
**/*.sqlite*
**/*.log
**/node_modules/
**/dist/
